*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

body {
  font-family: "Raleway", sans-serif;
  color: #583101;
}

.main-banner {
  height: 100vh;
  width: 100%;
  background-image: url("../img/mobile-banner-750-1124.webp");
  background-size: cover;
  background-position: center;
  transition: filter linear 1s;
  overflow: hidden;
}

.fixed-top-header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo {
  margin: 0.6em;
  padding: 0.75em 1em;
  border: 1px solid transparent;
  cursor: pointer;
}
.logo:focus {
  outline: none;
  border: 1px solid #583101;
  border-radius: 5px;
}

.burger-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0.25em;
  padding: 1.4em;
  background-color: transparent;
  border: 1px solid transparent;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid #583101;
  border-radius: 5px;
}
.burger-btn__box {
  position: relative;
  width: 30px;
  height: 20px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 2px;
  content: "";
  background-color: #583101;
  transition: width 0.3s;
  border-radius: 3px;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 8px;
  width: 70%;
}
.burger-btn__bars::before {
  top: 16px;
  width: 45%;
}

.nav-mobile {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity linear 1.5s;
  overflow: hidden;
  z-index: 10;
}
.nav-mobile--active {
  transform: translateX(0);
  opacity: 1;
}
.nav-mobile__close-btn {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  padding: 1.5em;
  background-color: transparent;
}
.nav-mobile__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.nav-mobile__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4.5em auto 8.5em 1.5em;
}
.nav-mobile__link {
  margin: 0.5em;
  padding: 0.75em 1.5em;
  font-size: 1.6rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 8px;
  border: 1px solid transparent;
}
.nav-mobile__link:focus {
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
}
.nav-mobile__insta-box {
  margin: 1.5em auto 3.5em 3em;
  padding: 1em;
  cursor: pointer;
}
.nav-mobile__insta-box:focus {
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
}
.nav-mobile__insta-icon {
  margin: 0.5em;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2em;
  overflow: hidden;
}
.footer__insta-box {
  margin: 2.35em 0 0;
  padding: 1.5em;
}
.footer__insta-box:focus {
  outline: none;
  border: 1px solid #583101;
  border-radius: 5px;
}
.footer__logo {
  margin: 0.6em;
  padding: 0.75em 1em;
  border: 1px solid transparent;
  cursor: pointer;
}
.footer__logo:focus {
  outline: none;
  border: 1px solid #583101;
  border-radius: 5px;
}
.footer__menu-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0.5em 1.5em;
}
.footer__menu-links {
  font-size: 1.2rem;
  margin: 0.75em;
  padding: 0.45em;
  text-transform: capitalize;
  color: #583101;
  border: 1px solid transparent;
  cursor: pointer;
}
.footer__menu-links:focus {
  outline: none;
  border: 1px solid #583101;
  border-radius: 5px;
}
.footer__copyright {
  margin: 1.5em 0 3.5em;
}/*# sourceMappingURL=main.css.map */