$brown-color: #583101;
$light-brown-color: #b08968;
$light-color: #ede0d4;
$white-color: #ffff;
$red-color: #d84c4c;
$light-red-color: #eb898983;
$heavy-red-color:rgb(114, 32, 32);
$green-color: rgb(0, 125, 0);