@mixin focusBrown {
	outline: none;
	border: 1px solid #583101;
	border-radius: 5px;
}

@mixin closeBtn {
	position: absolute;
	top: 1.25em;
	right: 1.25em;
	padding: 1.5em;
	background-color: transparent;
	border: 1px solid transparent;
	cursor: pointer;
}
