*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
	text-transform: uppercase;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

a {
	text-decoration: none;
}

img {
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

::placeholder {
	color: #583101;
	letter-spacing: 0.05em;
}
