@use './reset' as *;
@use './colors' as *;
@use './mixins' as *;

body {
	font-family: 'Italiana', serif;
	color: $brown-color;
}

.lock-scroll {
	overflow: hidden;
}

.white-background {
	background-color: $white-color;
	box-shadow: 0px 1px 30px 1px $light-color;
}

.main-banner {
	height: 100vh;
	width: 100vw;
	background-image: url('../img/mobile-banner-750-1124.webp');
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

// FIXED HEADER

.fixed-top-header {
	position: fixed;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	transition: background-color linear 0.8s, box-shadow linear 0.8s;
}

.logo {
	margin: 0.6em;
	padding: 0.75em 1em;
	border: 1px solid transparent;
	cursor: pointer;

	&:focus {
		@include focusBrown;
	}
}

// BURGER BUTTON

.burger-btn {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0.3em 0.25em 0.25em;
	padding: 1.4em;
	background-color: transparent;
	border: 1px solid transparent;

	&:focus {
		@include focusBrown;
	}

	&__box {
		position: relative;
		width: 30px;
		height: 20px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		right: 0;
		height: 2px;
		content: '';
		background-color: $brown-color;
		transition: width 0.3s;
		border-radius: 3px;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 8px;
			width: 70%;
		}

		&::before {
			top: 16px;
			width: 45%;
		}
	}
}

// NAVIGATION

.nav {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	transform: translateX(-100%);
	opacity: 0;
	transition: opacity linear 1s;
	overflow: hidden;
	z-index: 10;

	&--active {
		transform: translateX(0);
		opacity: 1;
	}

	&__close-btn {
		@include closeBtn;

		&:focus {
			@include focusBrown;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		width: 100%;
		background-image: url('../img/blured-mobile-banner-750-1124.webp');
		background-size: cover;
		background-position: center;
		overflow: hidden;
		z-index: 10;
	}

	&__links {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 4.5em auto 4em;
	}

	&__link {
		margin: 0.5em;
		padding: 0.75em 1.5em;
		font-size: 1.6rem;
		color: $brown-color;
		text-transform: capitalize;
		font-weight: bold;
		line-height: normal;
		letter-spacing: 0.5em;
		border: 1px solid transparent;
		transition: color 0.3s linear;

		&:hover {
			color: $light-brown-color;
		}

		&:focus {
			@include focusBrown;
		}
	}

	&__insta-box {
		margin: 1.5em auto 3em;
		padding: 1em;
		cursor: pointer;

		&:focus {
			@include focusBrown;
		}
	}

	&__insta-icon {
		margin: 0.5em;
	}
}

// FOOTER

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 2em;
	overflow: hidden;

	&__insta-box {
		margin: 2.35em 0 0;
		padding: 1.5em;

		&:focus {
			@include focusBrown;
		}
	}

	&__logo {
		margin: 0.6em 0.6em 3.5em;
		padding: 0.75em 1em;
		border: 1px solid transparent;
		cursor: pointer;

		&:focus {
			@include focusBrown;
		}
	}

	&__menu-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__menu-links {
		margin: 0.75em;
		padding: 0.45em;
		font-size: 1.35rem;
		text-transform: capitalize;
		color: $brown-color;
		letter-spacing: 0.2em;
		border: 1px solid transparent;
		cursor: pointer;
		transition: color 0.3s linear;

		&:hover {
			color: $light-brown-color;
		}

		&:focus {
			@include focusBrown;
		}
	}

	&__copyright {
		margin: 1.5em 0 3.5em;
	}
}

// HEADING MODELS LIST

.heading {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 15%;

	&__women {
		font-size: 1.6rem;
		text-transform: capitalize;
		letter-spacing: 0.4em;
		font-weight: 200;
	}
}

// WOMEN PAGE - MODELS LIST

.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	gap: 1.2em;
	margin-top: 6em;
}

.model-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid transparent;

	&:focus {
		@include focusBrown;
	}

	&__img {
		width: 100%;
		cursor: pointer;
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0.75em;
	}

	&__name {
		margin-bottom: 0.3em;
		font-size: 1.3rem;
		text-transform: capitalize;
		text-align: center;
		color: $brown-color;
		letter-spacing: 0.2em;
	}

	&__dimensions {
		font-size: 1.2rem;
		color: $brown-color;
	}
}

// DIMENSIONS ON MAIN MODEL PAGE

.main-model {
	position: fixed;
	transform: translateX(-100%);
	opacity: 0;
	transition: opacity linear 1s;
	overflow: hidden;

	&--active {
		transform: translateX(0);
		opacity: 1;
	}

	&__box {
		height: 100vh;
		width: 100vw;
		background-image: url('../img/blured-mobile-banner-750-1124.webp');
		background-size: cover;
		background-position: center;
	}

	&__close-btn {
		@include closeBtn;

		&:focus {
			@include focusBrown;
		}
	}

	&__items {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	&__name {
		margin-bottom: 1.5em;
		font-size: 1.9rem;
		@include modelDetails;
	}

	&__dimensions-box {
		@include modelDetails;
		margin: 2em 0 3em;
	}

	&__dimensions {
		padding: 1em;
		font-size: 1.4rem;
	}

	&__contact {
		padding: 1em;
		font-size: 1.4rem;
		@include modelDetails;
		border: 1px solid transparent;

		&:focus {
			@include focusBrown;
		}
	}
}

// MAIN PAGE OF MODEL

.model-banner {
	height: 75vh;
	width: 100vw;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.julia {
	background-image: url('../img/julia_mobile.webp');
}

.grid-container-model {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	gap: 1.2em;
	margin-top: 6em;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 5em 3em;

	&__model-name {
		margin-bottom: 0.25em;
		font-family: 'Italiana', serif;
		font-size: 5rem;
		text-transform: capitalize;
		letter-spacing: 0.05em;
	}

	&__dimensions,
	&__instagram {
		padding: 0.1em;
		font-family: 'Italiana', serif;
		text-transform: capitalize;
		color: $brown-color;
		font-size: 6rem;
		background-color: transparent;
		transition: color 0.3s linear;

		&:hover {
			color: $light-brown-color;
		}

		&:focus {
			outline: none;
			color: $light-brown-color;
		}
	}

	&__dimensions {
		font-size: 4rem;
		margin-bottom: 0.1em;
	}

	&__instagram {
		font-size: 2.75rem;
	}
}

// CONTACT PAGE

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 35vh;
	margin: 4.5em 2em 0;

	&__banner {
		margin-bottom: 4em;
		width: 100vw;
		height: 40vh;
		background-image: url('../img/mobile-contact-banner.webp');
		background-size: cover;
		background-position: top;
	}

	&__details {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 1.5em;
	}

	&__name {
		padding: 1em 1em 0 1em;
		font-size: 1.3rem;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 0.5em;
	}

	&__job-title {
		padding: 0.5em 1em 1em 1em;
		letter-spacing: 0.25em;
	}

	&__phone {
		padding: 0em 1em 0.4em;
		font-size: 1.3rem;
		font-weight: 300;
		letter-spacing: 0.25em;
	}

	&__email {
		padding-top: 0.5em;
		letter-spacing: 0.35em;
	}

	&__insta {
		margin-top: 3.5em;
		padding: 0.5em;
		border: 1px solid transparent;
		cursor: pointer;

		&:focus {
			@include focusBrown;
		}
	}
}

@media (max-width: 320px) {
	.heading {
		height: 20%;
		&__women {
			font-size: 1.2rem;
		}
	}
	.model-card {
		&__name {
			font-size: 1rem;
		}

		&__dimensions {
			font-size: 0.8rem;
		}
	}
	.main-model {
		&__name {
			margin: 1.5em 0 1em;
			font-size: 1.5rem;
		}
		&__dimensions-box {
			margin: 0 0 1em;
			font-size: 1rem;
		}
	}

	.buttons {
		&__model-name {
			font-size: 4rem;
		}

		&__dimensions {
			font-size: 3rem;
			margin-bottom: 0.1em;
		}

		&__instagram {
			font-size: 2rem;
		}
	}
}

@media (min-width: 768px) {
	.nav {
		&__link {
			font-size: 2.75rem;
		}
	}

	.heading {
		&__women {
			font-size: 2.25rem;
		}
	}

	.model-card {
		&__name {
			font-size: 1.75rem;
		}

		&__dimensions {
			font-size: 1.5rem;
		}
	}

	.main-model {
		&__name {
			font-size: 2.6rem;
		}
	
		&__dimensions {
			padding: 1em;
			font-size: 2rem;
		}
	
		&__contact {
			padding: 1em;
			font-size: 2rem;
		}
	}

	.buttons {
		&__model-name {
			margin-bottom: 0.25em;
			font-size: 6rem;
			letter-spacing: 0.05em;
		}

		&__dimensions {
			font-size: 5rem;
		}

		&__instagram {
			font-size: 3.75rem;
		}
	}
}

@media (min-width: 1024px) {
	.wrapper {
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
	}

	.main-banner {
		background-image: url('../img/deskop-banner-2674-1783.webp');
	}

	.burger-btn {
		&:hover {
			.burger-btn__bars::after,
			.burger-btn__bars::before {
				width: 100%;
			}
		}
		&__bars {
			&::before {
				transition-delay: 0.15s;
			}
		}
	}

	.nav {
		&__box {
			background-image: url('../img/blured-deskop-banner-2674-1783.webp');
		}

		&__link {
			font-size: 2rem;
			font-weight: 800;
		}
	}

	.grid-container {
		grid-template-columns: repeat(4, 1fr);
		gap: 1.5em;
		margin-top: 6em;
	}

	.model-card {
		&__box {
			margin: 1em;
		}

		&__name {
			font-size: 1.55rem;
		}

		&__dimensions {
			font-size: 1.5rem;
		}
	}

	.contact {
		height: 55vh;

		&__name {
			font-size: 1.5rem;
			letter-spacing: 0.75em;
		}

		&__job-title {
			letter-spacing: 0.5em;
			font-size: 1.1rem;
		}

		&__phone {
			font-size: 1.5rem;
			letter-spacing: 0.45em;
		}

		&__email {
			font-size: 1.4rem;
			letter-spacing: 0.35em;
		}

		&__banner {
			height: 60vh;
			background-image: url('../img/deskop-contact-banner.webp');
			background-position: center;
		}
	}

	.footer {
		&__menu-links {
			font-size: 1.4rem;
		}

		&__copyright {
			font-size: 1.3rem;
		}
	}

	.model-banner {
		height: 85vh;
		background-image: url('../img/deskop-banner-2674-1783.webp');
	}

	.julia {
		background-image: url('../img/julia_deskop.webp');
	}

	.main-model {
		&__box {
			background-image: url('../img/blured-deskop-banner-2674-1783.webp');
		}
	}

	.buttons {
		&__model-name {
			margin-bottom: 0.25em;
			font-size: 5rem;
			letter-spacing: 0.05em;
		}

		&__dimensions,
		&__instagram {
			margin-bottom: 0;
			padding: 0;
			font-size: 3.5rem;
		}
	}
}
