@use './reset' as *;
@use './colors' as *;
@use './mixins' as *;

body {
	font-family: 'Castoro Titling', cursive;
	color: $brown-color;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.lock-scroll {
	overflow: hidden;
}

.white-background {
	background-color: $white-color;
	box-shadow: 0px 1px 30px 1px $light-color;
}

.main-banner {
	height: 100vh;
	width: 100vw;
	background-image: url('../img/mobile-banner-750-1124.webp');
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

// FIXED HEADER

.fixed-top-header {
	position: fixed;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	transition: background-color linear 0.8s, box-shadow linear 0.8s;
}

.logo {
	margin: 0.6em;
	padding: 0.75em 1em;
	border: 1px solid transparent;
	cursor: pointer;

	&:focus {
		@include focusBrown;
	}
}

// BURGER BUTTON

.burger-btn {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0.3em 0.25em 0.25em;
	padding: 1.4em;
	background-color: transparent;
	border: 1px solid transparent;

	&:focus {
		@include focusBrown;
	}

	&__box {
		position: relative;
		width: 30px;
		height: 20px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		right: 0;
		height: 2px;
		content: '';
		background-color: $brown-color;
		transition: width 0.3s;
		border-radius: 3px;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 8px;
			width: 70%;
		}

		&::before {
			top: 16px;
			width: 45%;
		}
	}
}

// NAVIGATION

.nav {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	transform: translateX(-100%);
	opacity: 0;
	transition: opacity linear 1s;
	overflow: hidden;
	z-index: 10;

	&--active {
		transform: translateX(0);
		opacity: 1;
	}

	&__close-btn {
		@include closeBtn;

		&:focus {
			@include focusBrown;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		width: 100%;
		background-color: rgb(255, 255, 255);
		overflow: hidden;
		z-index: 10;
	}

	&__links {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 4.5em auto 4em;
	}

	&__link {
		margin: 0.5em;
		padding: 0.75em 1.5em;
		font-size: 1.6rem;
		font-weight: bold;
		color: $brown-color;
		text-transform: uppercase;
		line-height: normal;
		letter-spacing: 0.5em;
		border: 1px solid transparent;
		transition: color 0.3s linear;
		
		&:focus {
			@include focusBrown;
		}
	}
	
	&__insta-box {
		margin: 1.5em auto 3em;
		cursor: pointer;
	}
	
	&__insta-icon {
		margin: 0.5em;
		padding: 1em;
		border: 1px solid transparent;

		&:focus {
			@include focusBrown;
		}
	}
}

// FOOTER

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 2em;
	overflow: hidden;

	&__insta-box {
		margin-top: 2.35em;
		
	}
	
	&__insta-icon {
		padding: 1em;
		border: 1px solid transparent;

		&:focus {
			@include focusBrown;
		}
	
	}

	&__logo {
		margin: 0.6em 0.6em 3.5em;
		padding: 0.75em 1em;
		border: 1px solid transparent;
		cursor: pointer;

		&:focus {
			@include focusBrown;
		}
	}

	& &__menu-box {
		flex-direction: row;
	}

	&__menu-links {
		margin: 0.75em;
		padding: 0.45em;
		font-size: 1.4rem;
		text-transform: uppercase;
		text-align: center;
		color: $brown-color;
		letter-spacing: 0.2em;
		border: 1px solid transparent;
		cursor: pointer;
		transition: color 0.3s linear;

		&:focus {
			@include focusBrown;
		}
	}

	&__copyright {
		margin: 1.5em 0 3.5em;
		letter-spacing: 0.1em;
	}
}

// HEADING 

.heading {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 17%;

	&__main {
		font-size: 1.7rem;
		text-transform: uppercase;
		letter-spacing: 0.4em;
	}
}

// WOMEN PAGE - MODELS LIST

.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	gap: 1.2em;
	margin-top: 3em;
}

.model-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid transparent;

	&:focus {
		@include focusBrown;
	}

	&__img {
		width: 100%;
		cursor: pointer;
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0.75em;
	}

	&__name {
		margin-top: 0.3em;
		font-size: 1.45rem;
		text-transform: uppercase;
		text-align: center;
		color: $brown-color;
		letter-spacing: 0.2em;
	}
}

// MAIN PAGE OF MODEL

.model-banner {
	height: 75vh;
	width: 100%;
	overflow: hidden;
}

.dimensions {
	flex-direction: column;
	margin-top: 1em;

	&__button {
		width: 90%;
		margin: 1.5em 1em;
		padding: 0.6em 1em;
		font-size: 1.6rem;
		font-weight: bold;
		color: $brown-color;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		border-top: 1px solid $brown-color;
		border-bottom: 1px solid $brown-color;
		background-color: transparent;
		overflow: hidden;

		&:focus {
			@include focusBrown;
		}
	}

	&__box {
		display: none;
		flex-direction: column;
		width: 90%;
		margin-top: 2em;
		transform: translateY(-200%);

		&--active {
			display: flex;
			transform: translateY(0%);
		}
	}

	&__details {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 90%;
	}

	&__detail {
		margin-bottom: 1em;
		font-size: 1.25rem;
		text-transform: uppercase;
		letter-spacing: 0.15em;
	}

	&__instagram {
		padding: 0.5em 1em;
		font-size: 1.3rem;
		color: $brown-color;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		border: 1px solid transparent;

		&:focus {
			@include focusBrown;
		}
	}
}

.grid-container-model {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
	gap: 1.5em;
	margin: 3em 0;
}

.header {
	flex-direction: column;

	&__space {
		height: 13vh;
	}

	&__box {
		flex-direction: column;
	}

	&__model-name {
		margin-bottom: 1em;
		text-align: center;
		font-size: 3.5rem;
		text-transform: uppercase;
		letter-spacing: 0.12em;
	}

	&__instagram {
		display: none;
	}

	&__model-banner {
		margin-bottom: 1.2em;
		max-width: 100%;
	}

	&__model-banner-tablet {
		display: none;
	}
}

// CONTACT PAGE

.contact {
	flex-direction: column;
	margin: 4.5em 2em 4.5em;

	&__banner {
		height: auto;
		width: 100%;
		margin-bottom: 3em;
		border-radius: 8px;
	}

	&__details {
		flex-direction: column;
		margin-bottom: 1.5em;
	}

	&__name {
		padding: 1em 1em 0 1em;
		font-size: 1.3rem;
		text-transform: uppercase;
		letter-spacing: 0.5em;
	}

	&__job-title {
		padding: 0.5em 1em 1em 1em;
		letter-spacing: 0.25em;
	}

	&__phone {
		margin: 0em 1em 0.4em;
		font-size: 1.3rem;
		letter-spacing: 0.25em;
	}

	&__email {
		margin-top: 0.5em;
		letter-spacing: 0.35em;
	}

	&__phone,
	&__email {
		padding: 0.2em 0.4em;
		color: $brown-color;
		border: 1px solid transparent;

		&:focus {
			@include focusBrown;
		}
	}

	&__insta {
		margin-top: 3.5em;
		padding: 0.5em;
		border: 1px solid transparent;
		cursor: pointer;

		&:focus {
			@include focusBrown;
		}
	}
}

@media (max-width: 320px) {
	.heading {
		height: 20%;
		&__main {
			font-size: 1.2rem;
		}
	}
	.model-card {
		&__name {
			font-size: 1rem;
		}
	}
}

@media (min-width: 768px) {
	.nav {
		&__link {
			font-size: 2.75rem;
		}
	}

	.heading {
		&__main {
			font-size: 2.25rem;
		}
	}

	.model-card {
		&__name {
			font-size: 1.75rem;
		}
	}

	.dimensions {
		&__button {
			font-size: 1.8rem;
		}

		&__detail {
			font-size: 1.4rem;
		}
		&__instagram {
			display: none;
		}
	}

	.header {
		&__space {
			height: 8vh;
		}

		&__box {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1.5em;
			max-width: 1200px;
			margin-bottom: 3em;
			overflow: hidden;
		}

		&__details-box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&__model-name {
			width: 100%;
			margin-bottom: 0;
			font-size: 5rem;
			letter-spacing: 0.4em;
			text-align: center;
		}

		&__instagram {
			display: block;
			padding: 0.1em 0.2em;
			width: 100%;
			font-size: 3.35rem;
			color: $brown-color;
			text-transform: uppercase;
			text-align: center;
			letter-spacing: 0.15em;
			border: 1px solid transparent;
			transition: color 0.3s linear;

			&:focus {
				@include focusBrown;
			}
		}

		&__model-banner {
			margin-bottom: 0;
		}
	}

	.grid-container-model {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1024px) {
	.wrapper {
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
	}

	.main-banner {
		background-image: url('../img/deskop-banner-2674-1783.webp');
	}

	.burger-btn {
		&:hover {
			.burger-btn__bars::after,
			.burger-btn__bars::before {
				width: 100%;
			}
		}
		&__bars {
			&::before {
				transition-delay: 0.15s;
			}
		}
	}

	.nav {
		&__link {
			font-size: 2rem;

			&:hover {
				color: $light-brown-color;
			}
		}
	}

	.grid-container {
		grid-template-columns: repeat(4, 1fr);
		gap: 1.5em;
		margin-top: 6em;
	}

	.model-card {
		&__box {
			margin: 1em;
		}

		&__name {
			font-size: 1.55rem;
		}
	}

	.contact {
		height: 100%;

		&__name {
			font-size: 1.5rem;
			letter-spacing: 0.75em;
		}

		&__job-title {
			letter-spacing: 0.5em;
			font-size: 1.1rem;
		}

		&__phone {
			font-size: 1.5rem;
			letter-spacing: 0.45em;
		}

		&__email {
			font-size: 1.4rem;
			letter-spacing: 0.35em;
		}

		&__phone, &__email {
			&:hover {
				color: $light-brown-color;
			}
		}
	}

	.footer {
		&__menu-links {
			font-size: 1.6rem;

			&:hover {
				color: $light-brown-color;
			}
		}

		&__copyright {
			font-size: 1.3rem;
		}
	}

	.model-banner {
		height: 85vh;
	}

	.header {
		&__space {
			height: 9vh;
		}

		&__details-box {
			margin: 0 8em 4em 0;
			margin-right: 8em;
		}

		&__instagram {
			&:hover {
				color: $light-brown-color;
			}
		}
	}

	.dimensions {
		&__button {
			display: none;
		}
		&__box {
			display: flex;
			flex-direction: row;
			margin-top: 3em;
			width: 78%;
			transform: translateY(0%);
		}

		&__details {
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 0.5em;
		}

		&__detail {
			margin-right: 0.45em;
			font-size: 1.55rem;
		}
	}
}
