@use './reset' as *;
@use './colors' as *;
@use './mixins' as *;

body {
	font-family: 'Raleway', sans-serif;
	color: $brown-color;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.lock-scroll {
	overflow: hidden;
}

.white-background {
	background-color: $white-color;
	box-shadow: 0px 1px 30px 1px $light-color;
}

// FIXED HEADER

.fixed-top-header {
	position: fixed;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	transition: background-color linear 0.8s, box-shadow linear 0.8s;
}

.logo {
	margin: 0.6em;
	padding: 0.75em 1em;
	border: 1px solid transparent;
	cursor: pointer;

	&:focus {
		@include focusBrown;
	}
}

// BURGER BUTTON

.burger-btn {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0.3em 0.25em 0.25em;
	padding: 1.4em;
	background-color: transparent;
	border: 1px solid transparent;

	&:focus {
		@include focusBrown;
	}

	&__box {
		position: relative;
		width: 30px;
		height: 20px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		right: 0;
		height: 2px;
		content: '';
		background-color: $brown-color;
		transition: width 0.3s;
		border-radius: 3px;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 8px;
			width: 70%;
		}

		&::before {
			top: 16px;
			width: 45%;
		}
	}
}

// NAVIGATION

.nav {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	transform: translateX(-100%);
	opacity: 0;
	transition: opacity linear 1s;
	overflow: hidden;
	z-index: 10;

	&--active {
		transform: translateX(0);
		opacity: 1;
	}

	&__close-btn {
		position: absolute;
		top: 1.25em;
		right: 1.25em;
		padding: 1.5em;
		background-color: transparent;
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		width: 100%;
		background-image: url('../img/blured-mobile-banner-750-1124.webp');
		background-size: cover;
		background-position: center;
		overflow: hidden;
		z-index: 10;
	}

	&__links {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 4.5em auto 8.5em;
	}

	&__link {
		margin: 0.5em;
		padding: 0.75em 1.5em;
		font-size: 1.6rem;
		color: $white-color;
		text-transform: uppercase;
		font-weight: bold;
		line-height: normal;
		letter-spacing: 8px;
		border: 1px solid transparent;

		&:focus {
			@include focusWhite;
		}
	}

	&__insta-box {
		margin: 1.5em auto 3.5em;
		padding: 1em;
		cursor: pointer;

		&:focus {
			@include focusWhite;
		}
	}

	&__insta-icon {
		margin: 0.5em;
	}
}

.nav-deskop {
	display: none;
}

// H2

.heading {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 15%;

	&__women {
		font-size: 1.7rem;
		text-transform: uppercase;
		letter-spacing: 4px;
		font-weight: 200;
	}
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
    gap: 1.5em;
    margin-top: 6em;
}

.model-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    border: 1px solid transparent;

    &:focus {
		@include focusBrown;
	}

	&__img {
		width: 100%;
        cursor: pointer;
	}

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.75em;
    }

    &__name {
        margin-bottom: 0.3em;
        font-size: 1.15rem;
        text-transform: uppercase;
        color: $brown-color;
        letter-spacing: 0.15em;
    }

    &__dimensions {
        font-size: 1.15rem;
        color: $brown-color;
    }
}

// FOOTER

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 2em;
	overflow: hidden;

	&__insta-box {
		margin: 2.35em 0 0;
		padding: 1.5em;

		&:focus {
			@include focusBrown;
		}
	}

	&__logo {
		margin: 0.6em;
		padding: 0.75em 1em;
		border: 1px solid transparent;
		cursor: pointer;

		&:focus {
			@include focusBrown;
		}
	}

	&__menu-box {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 0.5em 1.5em;
	}

	&__menu-links {
		font-size: 1.2rem;
		margin: 0.75em;
		padding: 0.45em;
		text-transform: capitalize;
		color: $brown-color;
		border: 1px solid transparent;
		cursor: pointer;

		&:focus {
			@include focusBrown;
		}
	}

	&__copyright {
		margin: 1.5em 0 3.5em;
	}
}

@media (min-width: 1024px) {
	.burger-btn {
		&:hover {
			.burger-btn__bars::after,
			.burger-btn__bars::before {
				width: 100%;
			}
		}
		&__bars {
			&::before {
				transition-delay: 0.15s;
			}
		}
	}

	.nav-mobile {
		display: none;
	}

	.nav-deskop {
		display: block;
	}
}
